<div style="width: 500px; margin: auto;">
    <div *ngIf="currentmovie" class="edit-form">
      <h4>Movie</h4>
      <form>
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="Title"
            [(ngModel)]="currentmovie.Title"
            name="Title"
          />
        </div>
        <div class="form-group">
          <label for="Description">Description</label>
          <input
            type="text"
            class="form-control"
            id="Description"
            [(ngModel)]="currentmovie.Description"
            name="Description"
          />
        </div>
        <div class="form-group">
            <label for="Director">Director</label>
            <input
              type="text"
              class="form-control"
              id="Director"
              [(ngModel)]="currentmovie.Director"
              name="Director"
            />
          </div>
          <div class="form-group">
            <label for="Rate">Rate</label>
            <input
              type="text"
              class="form-control"
              id="Rate"
              [(ngModel)]="currentmovie.Rate"
              name="Rate"
            />
          </div>
          <div class="form-group">
            <label for="Date">Date</label>
            <input
              type="text"
              class="form-control"
              id="Date"
              [(ngModel)]="currentmovie.Date"
              name="Date"
            />
          </div>
  
        <!-- <div class="form-group">
          <label><strong>Status:</strong></label>
  
        </div> -->
      </form>
  
      <!-- <button
        class="badge badge-primary mr-2"
        *ngIf="currentProduct.available"
        (click)="setAvailableStatus(false)"
      >
        Set Not Available
      </button> -->
      <!-- <button
        *ngIf="!currentMovie.available"
        class="badge badge-primary mr-2"
        (click)="setAvailableStatus(true)"
      >
        Set Available
      </button> -->
  
      <!-- <button class="badge badge-danger mr-2" (click)="deleteMovie()">
        Delete
      </button>
  
      <button
        type="submit"
        class="badge badge-success"
        (click)="updateMovie()"
      >
        Update
      </button>
      <p></p>
    </div> -->
  
    <div *ngIf="!currentmovie">
      <br />
      <p>This movie is not accessible</p>
    </div>
  </div>